body {
    font-family: Roboto, sans-serif;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0px 250px 0px 250px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 30px;
}

.hero-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 100px;
    padding: 100px 0px 100px 0px;
}

.hero-info-text {
    display: flex;
    flex-direction: column;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-aux {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    list-style: none;
}

.hero-header {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-button {
    background-color: #3882F6;
    border: transparent;
    border-radius: 6px;
    font-size: 18px;
    font-weight:500;
    color: white;
    padding: 8px 32px 8px 32px;
    display: flex;
    align-self: start;
}

.info-section {
    color: grey;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.info-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    align-self: center;
    padding: 25px 0px 25px 0px;
}

.info-box {
    display: flex;
    column-gap: 50px;
    padding-bottom: 100px;
    flex-wrap: wrap;
}
.info-pic {
    border: 4px solid #3882F6;
    border-radius: 10px;
    padding:0;
    height: 200px;
    width: auto;
}

.info-section p {
    width: 200px;
}

.quote-section {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 100px 200px 100px 200px;
    margin-bottom: 100px; /*There probably is a better way to do this*/
}

.quoted {
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    text-align: end;
}

.call-to-action {
    background: #3882F6;
    padding: 50px 100px 50px 100px;
    color: white;
    margin-bottom: 100px;
}

.call-to-action h3, .call-to-action p {
    margin: 2px 0px 2px 0px;
}

.call-to-button {
    color: white;
    font-size: 18px;
    padding: 7px 30px 7px 30px;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 6px;
}

.footer {
    background-color: #1F2937;
    color: white;
    font-size: 18px;
    font-weight: normal;
    padding: 25px 0px 25px 0px;
}