body {
    font-family: Roboto, sans-serif;
    margin:0;
    padding: 0;
}

.hero {
    background-color: #1f2937;
    color: white;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-aux {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    list-style: none;
}

.hero-header {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-button {
    background-color: #3882F6;
    border: transparent;
    border-radius: 6px;
    font-size: 18px;
    font-weight:500;
    color: white;
    padding: 8px 32px 8px 32px;
}